@{
    ViewData["Title"] = "Square Root";
}

<div class="text-center">
    <h1 class="display-4">The Square Root Calculator</h1>
</div>


@{
    if(ViewBag.Result != null)
    {
        <div>
            <p>@ViewBag.zero @ViewBag.same @ViewBag.empty</p>
        </div>
        <div>
            <p>The number @ViewBag.high with square root @ViewBag.Result is higher than the number @ViewBag.low</p>
        </div>
    }
}

<div>
    <form asp-controller="Cal" asp-action="Add" method="POST">
        <input type="number" placeholder="First Number" name="firstNumber" />
        <input type="number" placeholder="Second Number" name="secondNumber" />
        <button type="submit">Submit</button>
    </form>
</div>
